* {
  margin: 0;
  padding: 0;
}

.btn {
  background-color: aqua;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
}

.container {
  background-color: beige;
  justify-content: space-between;
  display: flex;
  padding: 3rem;
}

.btn {
  margin-right: 15px;
  padding: 1rem;
  border-radius: 20%;
}

p {
  font-size: 2rem;
  text-transform: uppercase;
}

p:hover {
  color: red;
  text-decoration: underline;
}
